<%- include("../partials/header") %>

<div class="container my-4">
  <h1>📚 Liste des livres</h1>

  <a href="/admin/book/create" class="btn btn-primary mb-3">Ajouter un livre</a>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Auteur(s)</th>
        <th>Genre(s)</th>
        <th>Date de sortie</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% books.forEach(book => { %>
        <tr>
          <td><%= book.title %></td>
          <td>
            <% if (book.authors && book.authors.length > 0) { %>
              <%= book.authors.map(a => a.name + " " + a.firstname).join(", ") %>
            <% } else { %>
              Aucun auteur
            <% } %>
          </td>
          <td>
            <% if (book.genres && book.genres.length > 0) { %>
              <%= book.genres.map(g => g.name).join(", ") %>
            <% } else { %>
              Aucun genre
            <% } %>
          </td>
          <td>
            <% if (book.formattedDate && book.formattedDate.length > 0) { %>
              <%= book.formattedDate %>
            <% } else { %>
              Aucune date de sortie
            <% } %>
          </td>
          <td>
            <a href="/admin/book/<%= book.id %>" class="btn btn-sm btn-info">Détail</a>
            <a href="/admin/book/<%= book.id %>/edit" class="btn btn-sm btn-warning">Modifier</a>
            <form action="/admin/book/<%= book.id %>?_method=DELETE" method="POST" style="display:inline;">
              <button type="submit" class="btn btn-sm btn-danger">Supprimer</button>
            </form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include("../partials/footer") %>




Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ea id cupiditate, voluptate ipsum aperiam excepturi quod asperiores! Nam pariatur repudiandae, impedit quos aperiam rem adipisci ex modi consectetur quia.
Ut, velit? Assumenda deserunt error magnam optio pariatur natus quasi, molestias similique itaque velit placeat perspiciatis doloremque dolorum doloribus aspernatur fugit facilis quas fugiat nihil rerum nisi nam illum eveniet.
Quaerat nisi repellendus similique neque, facere quidem eum repudiandae deserunt est voluptates quo sed! Inventore, modi. Cupiditate, earum eum, officia reiciendis placeat quasi autem, nostrum tempore perspiciatis itaque recusandae quos!
Sunt obcaecati dolorum blanditiis. Fugiat sunt commodi id voluptatibus ab libero dignissimos nostrum praesentium illum odit vitae in distinctio minus natus quaerat a cupiditate voluptas quo, doloribus cumque molestias! Cumque?